<%
meta title: "Москва. Метро. Авторизация вайфай",
     description: "Хватит смотреть рекламу в метро! Авторизуйся в Московском метро за 1 тап и пользуйся интернетом свободно!",
     keywords: %w(московское метро москва авторизация вайфай wi-fi wifi)

og   image: asset_path('mauth@2x.png')
%>

<%= notice %>

<div id="content">
  <div class="wrapper">
    <%= link_to 'https://blog.m4rr.ru/all/moscow-metro-wi-fi-authorization/' do %>
      <%= image_tag 'mauth@2x.png', size: '60', class: 'h1img', alt: 'Москва. Метро. Авторизация Wi-Fi' %>
    <% end %>
    <h1>Москва. Метро. Авторизация Wi-Fi</h1>
    <p>
      Хватит смотреть рекламу в метро!<br />
      Авторизуйся в метро за 1 тап<br />
      и пользуйся интернетом свободно!
    </p>

    <%= link_to 'https://itunes.apple.com/ru/app/moskva.-metro.-avtorizacia/id1041801794?ls=1&mt=8', class: 'app-store-link' do %>
      <%= image_tag 'Download_on_the_App_Store_ru@2x.png', width: '180', alt: 'mauth on the App Store' %>
    <% end %>

    <p class="social">
      <a href="http://twitter.com/m4rr">Твитер</a>
      &nbsp;•&nbsp;
      <a href="https://github.com/m4rr/mauth">Гитхаб</a>
      &nbsp;•&nbsp;
      <a href="https://blog.m4rr.ru/all/moscow-metro-wi-fi-authorization/">Подробности</a>
    </p>

    <%= render "likely" %>
  </div>
</div>

<div class="disclaimer">
  <p>
    Используя приложение, вы принимаете на себя ответственность за взаимодействие с сервисом интернета в метро.<br />
    <%= link_to 'Открытый исходный код', 'https://github.com/m4rr/mauth' %>.
    <%= link_to 'Политика конфиденциальности', controller: 'mauth', action: 'privacy_policy' %>.
  </p>
  <p>
    Using this app, you are taking full responsibility for interaction with the internet service in the subway. This app is
    <%= link_to 'open source', 'https://github.com/m4rr/mauth' %>.
    <%= link_to 'Privacy Policy', controller: 'mauth', action: 'privacy_policy' %>.
  </p>
</div>
