<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta property="og:image" content="<%= asset_path 'mauth@2x.png' %>" />

  <%= metamagic %>

  <%= stylesheet_link_tag :mauth, media: 'all' %>
  <%= javascript_include_tag :mauth %>

  <%= javascript_include_tag 'likely.js', media: 'all' %>
  <%= stylesheet_link_tag 'likely.css', media: 'all' %>

  <%= csrf_meta_tags %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1693337-1', 'auto');
  ga('send', 'pageview');
  </script>

  <script type="text/javascript">
    // Viva Ilya Birman!
    $(function() {
      $("a").hover(function() {
        "" != $(this).attr("href") && "#" != $(this).attr("href") && $('a[href="' + $(this).attr("href") + '"]').addClass("hover")
      }, function() {
        $("a").removeClass("hover")
      });
    });
  </script>

</head>
<body>

  <%= yield %>

</body>
</html>
